In [3]:
import pandas as pd
import os

In [52]:
# Path to raw data
data_path = 'Data/raw_data/'

In [24]:
def select_environment_related_files(data_path, key_words):
    filenames = [filename for filename in os.listdir(data_path)]
    environment_filenames = list(filter(lambda filename: any(key_word in filename for key_word in key_words), filenames))
    environment_filepaths = list(map(lambda filename: os.path.join(data_path, filename), environment_filenames))
    return environment_filepaths

In [53]:
# Select all files which are related to climate change
environment_paths = select_environment_related_files(data_path, key_words=['Environment','Emissions', 'Climate'])

In [54]:
environment_filepaths = list(map(lambda filename: os.path.join(data_path, filename), environment_filenames))

In [55]:
columns = [pd.read_csv(environment_filepath, encoding='latin-1').columns.to_list() for environment_filepath in environment_filepaths]

In [58]:
pd.read_csv(environment_filepaths[0], encoding='latin-1')

,CountryCode,Country,ItemCode,Item,ElementGroup,ElementCode,Element,Year,Unit,Value,Flag
0,5100,Africa + (Total),6740,Bioenergy production,7204,72041,Bioenergy production as a % of total renewable...,1971,%,97.91,Fc
1,5100,Africa + (Total),6740,Bioenergy production,7204,72041,Bioenergy production as a % of total renewable...,1972,%,97.48,Fc
2,5100,Africa + (Total),6740,Bioenergy production,7204,72041,Bioenergy production as a % of total renewable...,1973,%,97.41,Fc
3,5100,Africa + (Total),6740,Bioenergy production,7204,72041,Bioenergy production as a % of total renewable...,1974,%,96.94,Fc
4,5100,Africa + (Total),6740,Bioenergy production,7204,72041,Bioenergy production as a % of total renewable...,1975,%,96.85,Fc
...,...,...,...,...,...,...,...,...,...,...,...
10422,181,Zimbabwe,6741,Energy used in agriculture and forestry,7204,72040,Agriculture and forestry energy use as a % of ...,2005,%,7.94,Fc
10423,181,Zimbabwe,6741,Energy used in agriculture and forestry,7204,72040,Agriculture and forestry energy use as a % of ...,2006,%,7.87,Fc
10424,181,Zimbabwe,6741,Energy used in agriculture and forestry,7204,72040,Agriculture and forestry energy use as a % of ...,2007,%,7.76,Fc
10425,181,Zimbabwe,6741,Energy used in agriculture and forestry,7204,72040,Agriculture and forestry energy use as a % of ...,2008,%,7.69,Fc
10426,181,Zimbabwe,6741,Energy used in agriculture and forestry,7204,72040,Agriculture and forestry energy use as a % of ...,2009,%,7.67,Fc

In [59]:
pd.read_csv(environment_filepaths[1], encoding='latin-1')

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,6727,Cropland organic soils,5026,Area,1990,1990,Ha,0.0000,NaN
1,2,Afghanistan,6727,Cropland organic soils,5026,Area,1991,1991,Ha,0.0000,NaN
2,2,Afghanistan,6727,Cropland organic soils,5026,Area,1992,1992,Ha,0.0000,NaN
3,2,Afghanistan,6727,Cropland organic soils,5026,Area,1993,1993,Ha,0.0000,NaN
4,2,Afghanistan,6727,Cropland organic soils,5026,Area,1994,1994,Ha,0.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
69873,5873,OECD,6729,Cropland and grassland organic soils,72318,Emissions (CO2eq) (Cultivation of organic soils),2012,2012,Gigagrams,42774.2602,A
69874,5873,OECD,6729,Cropland and grassland organic soils,72318,Emissions (CO2eq) (Cultivation of organic soils),2013,2013,Gigagrams,42774.2602,A
69875,5873,OECD,6729,Cropland and grassland organic soils,72318,Emissions (CO2eq) (Cultivation of organic soils),2014,2014,Gigagrams,42774.2602,A
69876,5873,OECD,6729,Cropland and grassland organic soils,72318,Emissions (CO2eq) (Cultivation of organic soils),2030,2030,Gigagrams,42774.2602,A
69877,5873,OECD,6729,Cropland and grassland organic soils,72318,Emissions (CO2eq) (Cultivation of organic soils),2050,2050,Gigagrams,42774.2602,A

In [63]:
environment_paths

['Data/raw_data/Environment_Energy_E_All_Data.csv',
 'Data/raw_data/Emissions_Agriculture_Cultivated_Organic_Soils_E_All_Data_(Norm).csv',
 'Data/raw_data/Environment_LandCover_E_All_Data_(Normalized).csv',
 'Data/raw_data/Environment_AirClimateChange_E_All_Data.csv',
 'Data/raw_data/Emissions_Land_Use_Cropland_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Manure_applied_to_soils_E_All_Data_(Norm).csv',
 'Data/raw_data/Environment_Temperature_change_E_All_Data_(Normalized).csv',
 'Data/raw_data/Environment_Water_E_All_Data.csv',
 'Data/raw_data/Environment_LivestockPatterns_E_All_Data_(Normalized).csv',
 'Data/raw_data/Environment_LandUse_E_All_Data_(Normalized).csv',
 'Data/raw_data/Environment_Soil_E_All_Data.csv',
 'Data/raw_data/Environment_Fertilizers_E_All_Data_(Normalized).csv',
 'Data/raw_data/Emissions_Agriculture_Burning_Savanna_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Agriculture_total_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Burning_crop_residues_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Norm).csv',
 'Data/raw_data/Environment_Pesticides_E_All_Data_(Normalized).csv',
 'Data/raw_data/Emissions_Agriculture_Manure_left_on_pasture_E_All_Data_(Norm).csv',
 'Data/raw_data/Environment_Emissions_by_Sector_E_All_Data_(Normalized).csv',
 'Data/raw_data/Environment_Livestock_E_All_Data.csv',
 'Data/raw_data/Emissions_Agriculture_Rice_Cultivation_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Land_Use_Burning_Biomass_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Crop_Residues_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Land_Use_Land_Use_Total_E_All_Data_(Norm).csv',
 'Data/raw_data/Environment_Emissions_intensities_E_All_Data_(Normalized).csv',
 'Data/raw_data/Emissions_Agriculture_Energy_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Manure_Management_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Land_Use_Forest_Land_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Agriculture_Synthetic_Fertilizers_E_All_Data_(Norm).csv',
 'Data/raw_data/Emissions_Land_Use_Grassland_E_All_Data_(Norm).csv']